.header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid #ddd;
}

.logo {
  display: block;
  width: 60px;
  height: 24px;
  overflow: hidden;
}

.logoImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
